/************************************************

Stylesheet: Contact Page

*************************************************/



.page-template-template-contact {
    .contact-top {
        background-image: url('../images/contact-bg.png');
        background-position: top right;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @media screen and (min-width: 1201px) {
            background-size: 1200px auto;
        }
    }
    h1, h3 {
        line-height: .95;
        letter-spacing: 0px;
    }
    h1 {
        margin-bottom: 30px;
    }
    .form-wrapper {
        margin-top: 17vw;
        @media screen and (min-width: 1201px) {
            margin-top: 200px;
        }
        form {
            max-width: 426px;
            margin: 0;
            @media screen and (max-width: $small) {
                max-width: none;
            }
        }
    }
    .cell.form {
        padding-left: 125px;
        @media screen and (max-width: 1240px) {
            padding-left: 60px;
        }
        @media screen and (max-width:$small) {
            padding-left: .9375rem;
        }
    }
    .cell.locations {
        padding-left: 125px;
        @media screen and (max-width: 1240px) {
            padding-left: 60px;
        }
        @media screen and (max-width: 980px) {
            padding-left: .9375rem;
        }
    }
    .contact-info {
        padding-top: 40vw;
        padding-bottom: 60px;
        @media screen and (min-width: 1201px) {
            padding-top: 480px;
        }
        @media screen and (max-width: $small) {
            padding-top: 80px;
            padding-bottom: 0px;
        }
    }
    .contact-icon {
        width: 25px;
        height: 25px;
        margin: 10px 10px 10px 10px;
        display: inline-block;
    }
    .contact-links {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
    .contact-link {
        font-size: rem(14);
        display: inline-block;
        color: $white;
        font-family: $font_secondary;
        white-space: nowrap;
    }
    a.contact-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            transition: all 300ms ease;
        }
    }
    .map-section {
        background-color: #0f0f0f;
        h3 { margin-right: 0; margin-left: 0;}
        .locations-wrap { // scrollbar
            background: $black;
            padding: 25px 20px;
            overflow-y : scroll;
        }
        .locations-wrap::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #191919;
            display: block;
        }
        .locations-wrap::-webkit-scrollbar {
            width: 10px;
            display: block;
        }
        .locations-wrap::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $purple-med;
            display: block;
        }
        .location {
            margin-bottom: 25px;
            img {
                width: 35px;
                margin-right: 15px;
            }
            p {
                font-family: $font_secondary;
                font-size: rem(13);
                line-height: rem(22);
                margin: 0;
            }
            p.name {
                text-transform: uppercase;
                font-size: rem(16);
                margin-top: 5px;
                letter-spacing: 1px;
            }
        }
        .map {
            height: 600px;
            position: relative;
            margin-top: 20px;
            @media screen and (max-width: $small) {
                height: 400px;
            }
            &::after {
              content: '';
              display: block;
              background:linear-gradient(45deg, #0a0a0a, transparent 55%);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              pointer-events: none;
              z-index: 2;
            }
            .marker {
              background-image: url('../images/map-marker.png');
              background-size: 30px 50px;
              background-position: center bottom;
              background-repeat: no-repeat;
              padding-bottom: 50px;
              top: -35px; //offset
              p {
                  margin-bottom: 5px;
                  margin-top: 0px;
                  font-family: $font_tertiary;
                  text-transform: uppercase;
                  text-align: center;
                  min-width: 60px;
                  font-size: rem(14);
                  line-height: 1;
              }
            }
        }
        .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
            display: none !important;
        }
        // cell layout
        .locations {
            height: 620px;
            h3 { max-width: 260px !important; }
            @media screen and (max-width: 980px) {
                height: auto;
                width: 100% !important;
                -ms-flex-order: 2;
                order: 2;
                h3 { display: none; }
                .locations-list {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                .location {
                    padding: 0px 10px;
                    margin-bottom: 40px;
                }
                .location-text { min-width: 130px;}
                .locations-wrap {
                    background: transparent;
                    padding: 40px 0px;
                }
            }

        }
        .map-cell {
            h3 { display: none; }
            @media screen and (max-width: 980px) {
                width: 100% !important;
                -ms-flex-order: 1;
                order: 1;
                h3 { display: block; text-align: center; margin-bottom: 40px; }
            }
        }
    }
}
