/************************************************

Stylesheet: Footer

*************************************************/


footer.footer {
    background: $purple;
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(0.30turn,rgba(0,0,0,.9),rgba(0,0,0,0) 95%);
	}
    .footer-wrap {
        position: relative;
        z-index: 1;
    }
    h6, p, a {
        margin: 0;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h6 {
        letter-spacing: 2px;
        @include media-max($small) {
            font-size: rem(12);
            letter-spacing: 1px;
        }
    }
    .smaller {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .tiny {
        font-size: .6em;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    ul {
        margin: 0;
        list-style-type: none;
        padding-left: 2vw;
        @include media-max($medium) {
            padding-left: 0;
            li {
                text-align: center;
            }
        }
    }
}
.footer-links {
    @include media-max($small) {
        padding-top: 0px;
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
        }
        li {
            padding: 0px 7px;
        }
        li span {
            display: none;
        }
    }
}
.footer-link {
    display: block;
    text-decoration: none;
    color: $white;
    font-family: $font_secondary;
    white-space: nowrap;
    &:hover {
        color: $white;
        text-decoration: underline;
        transition: all 300ms ease;
    }
}
.footer-icon {
    width: 25px;
    height: 25px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    @include media-max($medium) {
        display: block;
        margin: 7px auto;
    }
    @include media-max($small) {
        width: 30px;
        height: 30px;
    }
}
