/************************************************

Stylesheet: Navigation and Header

*************************************************/


header.header {
	// background: $purple;
	background: url('../../assets/images/hero-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	// &:after {
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 0;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	right: 0;
	// 	background: linear-gradient(0.30turn,rgba(0,0,0,.9),rgba(255,0,0,0) 95%);
	// }
	.header-top {
		position: relative;
		z-index: 1;
		height: auto;
		@include media-max($medium)  {
			padding-top: 40px;
			padding-bottom: 40px;
			// height: $medHeaderHeight;
		}
		@include media-max($small)  {
			// height: $smallHeaderHeight;
		}
	}
	.head-wrap {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	a.logo-link {
		display: block;
		padding-left: 140px;
		padding-right: 140px;
		text-align: center;
		@include media-max($medium) {
			padding-left: 80px;
			padding-right: 80px;
		}
		@include media-max($small) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	img.custom-logo {
		width: 300px;
		max-width: 100%;
		min-width: 150px;
		@media screen and (max-width: $medium) {
			width: 250px;
		}
		@media screen and (max-width: $small) {
			width: 200px;
		}
	}
	p.header-text {
		text-align: center;
		color: $white;
		text-transform: uppercase;
		font-family: $font_tertiary;
		font-size: rem(12);
		line-height:1.2em;
		position:relative;
		top: 125px;
		flex-grow:1;
		flex-basis: 0;
		.kern {
			letter-spacing: 2px;
		}
		@media screen and (max-width: $medium) {
			top: 105px;
		}
		@media screen and (max-width: $small) {
			display: none;
		}
	}
}

nav.navigation {
	background: $black;
	position: relative;
	z-index: 3;
	&:before {
		content: url(../images/menu-tab.svg);
		display: block;
		position: absolute;
		top: -34px;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		-webkit-transform: translateX(-50%) scale(.8);
		-ms-transform: translateX(-50%) scale(.8);
		-o-transform: translateX(-50%) scale(.8);
	}
	ul {
		list-style-type: none;
		background: $black;
		margin-left: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-right: 0px;
		padding-left: 0px;
		justify-content: space-around;
		// flex-wrap: wrap;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	li {
		text-align: center;
		min-width: 111px;
		padding-top: 15px;
		padding-bottom: 15px;
		@media screen and (max-width: $medium) {
			min-width: 126px;
		}
		@media screen and (max-width: $small) {
			min-width: 0px;
			&:last-child {
				border-bottom: 1px solid rgba(255,255,255,.4);
			}
		}
	}
	li a {
		display: inline-block;
		color: $white;
		font-family: $font_secondary;
		letter-spacing: 2px;
		font-size: rem(19);
		text-transform: uppercase;
		text-decoration: none;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 10px;
		padding-right: 10px;
		border: 2px solid $black;
		transition: all 200ms ease-in;
		&:hover {
			cursor: pointer;
			border: 2px solid $white;
			transition: all 200ms ease-in;

		}
		@media screen and (max-width: $medium) {
			font-size: rem(17);
		}
	}
	li.current-menu-item a {
		border: 2px solid $white;
	}
	@include media-max($medium) {
		position: absolute;
		top: initial;
		width: 100%;
		ul {
			display: block;
			max-height: 0px;
			overflow: hidden;
			transition: all 300ms ease-out;
			li:first-child() {
				padding-top: 50px;
			}
			li:last-child() {
				padding-bottom: 60px;
			}
			&.open {
				transition: all 300ms ease-in;
				max-height: 900px;
			}
		}
	}
}

#navbar.sticky{
	top: -46px; // waiting to slide it down vian animation to avoid browser jumping
	position: fixed !important;
	width: 100%;
	z-index:2;
	animation: slideDown 200ms ease forwards;
	-webkit-animation: slideDown 200ms ease forwards;
}

@-webkit-keyframes slideDown {
    0% { top: -46px; }
  100% { top: 0px; }
}

@keyframes slideDown {
	0% { top: -46px; }
  100% { top: 0px; }
}

@-webkit-keyframes slideDownMore {
    0% { top: 0px; }
  100% { top: 45px; }
}

@keyframes slideDownMore {
	0% { top: 0px; }
  100% { top: 45px; }
}

body.logged-in {
	#navbar.sticky {
		@include media-max($medium) {
			top: 0px;
			animation: slideDownMore 200ms ease forwards;
			-webkit-animation: slideDownMore 200ms ease forwards;
		}
		@media screen and (max-width: 600px) {
			top: -46px;
			animation: slideDown 200ms ease forwards;
			-webkit-animation: slideDown 200ms ease forwards;
		}
	}
}


.mobile-menu-button {
	display: none;
	text-align: center;
	.hamburger-wrap {
		display: inline-block;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	.hamburger {
		height: 3px;
		position:relative;
		background: $white;
		border: 1px solid $white;
		border-radius: 1px;
		margin: 4px;
		width: 30px;
		opacity: 1;
		transition: all 300ms ease;
		-webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
	}
	@include media-max($medium) {
		display: block;
	}
	&.open {
		.hamburger.mid {
			opacity: 0;
		}
		.hamburger.top {
			-webkit-transform: rotateZ(45deg);
	        -ms-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
			top: 7px;
		}
		.hamburger.bottom {
			-webkit-transform: rotateZ(-45deg);
	        -ms-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
			bottom: 7px;
		}
	}
}



@include media-max($medium) {
	header + div {
		padding-top: 45px;
	}
}
