/************************************************

Stylesheet: Home

*************************************************/

.page-template-template-home {
    .main-image {
        height: 850px;
    }
    .content-wrap {
        background: $black;
    }
    .home-content {
        max-width: 1050px;
        h3 {
            letter-spacing: 5px;
        }
        p {
            font-size: rem(22);
            line-height: rem(42);
            margin-top: 0px;
            @include media-max($medium) {
                font-size: rem(20);
                line-height: rem(44);
            }
        }
    }
}
