/************************************************

Stylesheet: Home

*************************************************/

.page-template-template-home {
    .main-image {
        height: 850px;
        @media screen and(max-width: $medium) {
            height: 550px;
        }
        @media screen and(max-width: $small) {
            height: 400px;
        }
    }
    .content-wrap {
        background: $black;
    }
    .home-content {
        max-width: 1050px;
        h2 {
            letter-spacing: 5px;
            @media screen and (max-width: $small) {
                letter-spacing: 3px;
                margin-top: 0px;
            }
        }
        p {
            margin-top: 0px;
        }
    }
}
