/************************************************

Stylesheet: Navigation

*************************************************/

nav.navigation {
	img.custom-logo {
		width: 70px;
	}
	.medium-horizontal {
		align-items: center;
	}
}
