/************************************************

Stylesheet: Order Page

*************************************************/



.page-template-template-order {
    .form-wrapper {
        width: 100%;
        max-width: 620px;
        margin: 0 auto;
    }
}
