/************************************************

Stylesheet: Order Page

*************************************************/



.page-template-template-order {
    section.order-form {
        background-size: 100% auto;
        background-position: top;
        background-repeat: no-repeat;
        @media screen and (max-width: $small) {
            background-size: auto 100%;
        }
    }
    .form-wrapper {
        width: 100%;
        max-width: 620px;
        margin: 0 auto;
        @media screen and (max-width: $large) {
            max-width: 450px;
        }
    }
}
