/************************************************

Stylesheet: Single Strains

*************************************************/

section.single-strain {
    .strain-head {
        position: relative;
    }
    .strain-price {
        position: absolute;
        right: 10vw;
        top: 0;
        color: $grey-light;
        font-size: rem(20);
        line-height: 1em;
        letter-spacing: 2px;
        span {
            color: $grey-light;
            font-size: .6em;
            position: relative;
            top: -5px;
            right: -2px;
        }
    }
    .strain-icon {
        width: 125px;
        max-height: 145px;
        margin: 0 auto;
    }
    h3 {
        color: $grey-light;
        letter-spacing: 5px;
        margin-bottom: 12px;
    }
    p.teaser {
        max-width: 1000px;
        margin: 0 auto 0px auto;
    }
    ul.details {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            text-align: left;
            text-transform: uppercase;
            font-family: $font_secondary;
            font-size: rem(17);
            letter-spacing: 2px;
            padding: 0px 25px 20px 25px;
            color: $grey-light;
        }
        .label {
            margin: 0px auto 5px 37px;
            font-family: $font_secondary;
            font-style: italic;
            color: $grey-med;
            font-size: rem(15);
            letter-spacing: 2px;
        }
        .detail-icon {
            display: inline-block;
            height: 25px;
            margin-right: 12px;
        }
        span { display: inline-block; }
        &.top-level {
            @media screen and (max-width: $small ) {
                display: none;
            }
            li {
                padding: 25px 25px 25px 25px;
            }
        }
        &.low-level {
            margin: 0px 0px 0px -25px;
            @media screen and (max-width: $small) {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    .more-info {
        .mobile-details {
            display: none;
            @media screen and (max-width: $small) {
                display: block;
            }
        }
        .strain-image {
            min-height: 350px;
        }
        .action-items {
            padding: 28px 0px 0px;
            text-align: left;
            .harvest, .labs {
                margin-bottom: 50px;
                display: block;
            }
            .order-link {
                letter-spacing: 4px;
                font-size: rem(22);
                color: $black;
                background: $grey-light;
                padding: 8px 12px;
                white-space: nowrap;
            }
            p, h4, a {
                font-family: $font_secondary;
                color: $grey-light;
                letter-spacing: 2px;
            }
            p {
                margin: 0px auto;
                font-size: rem(17);
            }
            h4 {
                margin: 5px auto;
            }
            a {
                text-decoration: none;
            }
            @media screen and (max-width: $large) {
                padding: 25px 25px 25px;
                text-align: center;
            }
            @media screen and (max-width: $small) {
                text-align: left;
                padding: 0px;
            }
        }
    }
}

ul.accordion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .accordion-title {
            font-family: $font_secondary;
            color: $grey-light;
            font-size: rem(22);
            letter-spacing: 2px;
            text-decoration: none;
            margin: 15px auto 60px;
            display: inline-block;
            position: relative;
        &:after {
    		content: url(../images/arrow-right.svg);
    		display: inline-block;
            position: absolute;
            transform: scale(.7) rotateZ(0);
            -webkit-transform: scale(.7) rotateZ(0);
            -ms-transform: scale(.7) rotateZ(0);
            -o-transform: scale(.7) rotateZ(0);
            transition: transform 300ms ease-in;

        }
    }
    .accordion-item.is-active {
        .accordion-title::after {
            transform: scale(.7) rotateZ(90deg);
            -webkit-transform: scale(.7) rotateZ(90deg);
            -ms-transform: scale(.7) rotateZ(90deg);
            -o-transform: scale(.7) rotateZ(90deg);
            transition: transform 200ms ease-out;
        }
    }
}
