/************************************************

Stylesheet: Typography

*************************************************/



@font-face {
  font-family: "UnitedSansRegMed";
  src: url("../fonts/UnitedSansRgMd.otf") format('opentype');
}

@font-face {
  font-family: "UnitedSansRegHev";
  src: url("../fonts/UnitedSansRgHv.otf") format('opentype');
}

@font-face {
  font-family: "TradeGoth";
  src: url("../fonts/Trade-Gothic-Bold-Font.otf") format('opentype');
}

@font-face {
  font-family: "JMHTypewriter";
  src: url("../fonts/JMH-Typewriter-mono-Black.ttf") format('truetype');
}

$font_secondary: "TradeGoth", 'Helvetica', 'Arial', sans-serif;
$font_primary: "UnitedSansRegMed", 'Andale Mono', 'Monotype', 'Courier New';
$font_primary_bold: "UnitedSansRegHev", 'Andale Mono', 'Monotype', 'Courier New';
$font_tertiary: "JMHTypewriter", 'Andale Mono', 'Monotype', 'Courier New';



* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $font-primary;
    box-sizing: border-box;
}
h1{
  font-family: $font_secondary;
  font-weight: 600;
  font-size: rem(57);
  line-height: rem(64);
  text-transform: uppercase;
  margin: 40px 0px;
  color: $white;
  @include media-max($medium) {
      font-size: rem(52);
      line-height: rem(59);
  }
}
h2{
  font-family: $font_secondary;
  font-weight: 600;
  font-size: rem(50);
  line-height: rem(60);
  text-transform: uppercase;
  color: $white;
  margin: 30px 0px 20px 0px;
  @include media-max($medium) {
      font-size: rem(45);
      line-height: rem(52);
      text-transform: none;
  }
}
h3{
  font-family: $font_secondary;
  font-weight: 600;
  font-size: rem(41);
  line-height: rem(50);
  text-transform: uppercase;
  color: $white;
  margin: 20px 0px;
  @include media-max($medium) {
      font-size: rem(38);
      line-height: rem(47);
  }
}
h4{
  font-family: $font_secondary;
  font-weight: 600;
  font-size: rem(32);
  line-height: rem(44);
  color: $white;
  @include media-max($medium) {
      font-size: rem(26);
      line-height: rem(35);
  }
}
h5{
  font-family: $font_secondary;
  font-weight: 400;
  font-size: rem(22);
  line-height: rem(30);
  color: $white;
  @include media-max($medium) {
      font-size: rem(18);
      line-height: rem(28);
  }
}
h6{
  font-family: $font_secondary;
  font-weight: 400;
  font-size: rem(18);
  text-transform: uppercase;
  line-height: rem(28);
  color: $white;
  @include media-max($medium) {
      font-size: rem(14);
      line-height: rem(22);
  }
}
p {
    font-family: $font_primary;
    font-size: rem(22);
    line-height: rem(42);
    font-weight: 300;
    color: $white;
    &.teaser {
        font-size: rem(22);
        line-height: rem(42);
    }
    @include media-max($medium) {
        font-size: rem(18);
        line-height: rem(32);
        &.teaser {
            font-size: rem(18);
            line-height: rem(32);
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 1050px !important;
    margin-right: auto;
    margin-left: auto;
}

span, a, li, * {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: $white;
}

h1 + p, h2 + p, h3 + p, h4 + p {
    margin-top: 0px;
}
