/************************************************

Stylesheet: Variables;

*************************************************/

@function rem($px,$rembase:16){
	@return ($px/$rembase)+rem;
}

$row-max-width: 1200px;
$medium: 768px;
$large: 1024px;

$black: #000000;
$white: #ffffff;
$purple: #2c152c;
$grey-light: #cfd2d3;
