/************************************************

Stylesheet: Variables;

*************************************************/

$row-max-width: 1400px;
$medium: 768px;
$large: 1024px;

$black: #000000;
$white: #ffffff;
